.App {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form > div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: black;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #111111;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .rdrStaticRange {
    border: 0;
    cursor: pointer;
    display: block;
    outline: 0;
    border-bottom: 1px solid #eff2f7;
    padding: 0;
    color: black;
    background: #fff;
  }
  
  .rdrDateRangePickerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rdrDefinedRangesWrapper {
    width: 100%;
  }
  .date-range-picker {
    margin-top: 10px;
  }
  .rdrStaticRanges {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .rdrInputRange {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .rdrStaticRanges {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .react-date-range-wrapper {
    width: 100%; 
  }
  